.site-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    margin-top: -50px;
    // background-color: #2b2b3c;
    // box-shadow: 0 -2px 4px 1px rgba(0,0,0,0.2);
    color: #f8f8fd;
    .wrapper {
        width: 1140px;
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
        font-size: 14px;
        p {
            margin: 0;
            line-height: 1.6;
        }
        .contact {
            display: inline-block;
            a {
                color: #f8f8fd;
                transition: 0.3s ease;
                &:hover {
                    color: #c6cbe9;
                }
                i {
                    margin: 0 5px;
                    font-size: 20px;
                }
            }
        }
        .description {
            display: inline-block;
        }
        .power {
            a {
                color: #f8f8fd;
                transition: 0.3s ease;
                &:hover {
                    color: #c6cbe9;
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .site-footer {
        .wrapper {
            width: 90%;
        }
    }
}
@media screen and (max-width: 770px) {
    .site-footer {
        .wrapper {
            width: 90%;
        }
    }
}
